@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/animations.scss'; 
@import '../../styles/mixins';

.Hero {
    
    position: absolute;
    left: 0;
    background: $mainColor;
    width: 515px;
    height: 100%;
    @include flexCenter;
    flex-direction: column;
    justify-content: space-between;
    color: $mainColorDarker;
    overflow: hidden;
    display: none;

    .header {
        
        margin: 60px;
        margin-top: 50px;

        .logo {
            width: 40%;
            margin-bottom: 20px;
      
        }
    
        .txt {
            font-family: $secondaryFontBold;
            font-size: 28px;
            letter-spacing: 1px;   
        }

    }


    .illustration {
        width: 160%;      
    }

    @media screen and (min-width: 1024px){
        display: flex;
    }

}


