@import '../../styles/mixins';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.Post {
    background: white;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    // position: relative;
    .userInfos {
        @include flexCenter;
        justify-content: flex-start;
        margin-bottom: 20px;

        .profilePic {
            margin-right: 10px;
            color: white;
            @include flexCenter;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background: gray;
        }
        .name {font-size: $fontSizeXS;}
        .date {
            font-size: $fontSizeXXS;
            color: grey;
        }
    }
    .deleteBtn {
        // position: absolute;
        // top: 5px;
        // right: 5px;
        width: 20px;
        height: 20px;
        background: red;
        color: white;
        border: none;
        @include flexCenter;
        border-radius: 5px;
        cursor: pointer;
    }
    .inputMessage {
        width: 100%;
    }
}

