@import '../../styles/mixins';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.Post {
    background: white;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    .userInfos {
        @include flexCenter;
        justify-content: flex-start;
        margin-bottom: 20px;

        .profilePic {
            margin-right: 10px;
            color: white;
            @include flexCenter;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background: gray;
        }
        .name {font-size: $fontSizeXS;}
        .date {
            font-size: $fontSizeXXS;
            color: grey;
        }
    }
    .deleteModifyCtn {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
    }
    .modifyBtn {
        width: 25px;
        height: 25px;
        background: $mainColor;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        margin-right: 5px;
        background-image: url('../../assets/img/edit.ico');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .deleteBtn {
        width: 25px;
        height: 25px;
        background: none;
        background-image: url('../../assets/img/delete.png');
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .confirmModifBtn {
        @include btn;
        width: 100px;
        cursor: pointer;
    }
}

