@mixin floatAnimation {
    animation: float 1750ms ease-in-out infinite;

    @keyframes float {
        0% {

        }
        50% {
            transform: translateY(15px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@mixin reverseFloatAnimation {
    animation: reverseFloat 1750ms ease-in-out infinite;

    @keyframes reverseFloat {
        0% {

        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}