@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$mainFont : 'Poppins', sans-serif;

// FONT SIZES 

$fontSizeS: 0;
$fontSizeM: 18px;
$fontSizeL: 24px ;
$fontSizeXL: 0;
$fontSizeXXL: 60px;