@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixins';

.Header {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background: white;

    .headerContainer {
        
        @include flexCenter;
        justify-content: space-between;
        height: 100%;
        max-width: 1440px;
        margin: auto;

        .logo {
            margin-left: 20px;
            @include btn;
            letter-spacing: 2px;
            padding: 4px;
            font-size: $fontSizeXS;
            background: $mainTxtColor;
            &Img {
                width: 25px;
                margin-right: 5px;
            }
        }

        .loginSignupBtns {
            @include flexCenter;
            margin-right: 20px;
            & * {
                margin-left: 5px;
            }

            .signup {
                @include btn;
            }
    
            .login {
                @include btn;
                background: none;
                color: $mainTxtColor;
                &:hover {
                    color: white;
                    background: $mainColor;
                }
            }
        }
    }

}