@import '../../styles/colors';
@import '../../styles/fonts';

.Header {
    height: 100px;
    width: 100%;
    display: flex;

    .logo {
        color: $maintxtColor;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: $fontSizeL;
        display: flex;
        align-items: center;
        &Img {
            width: 50px;
            margin-right: 10px;
        }
    }
}