@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/animations.scss';

.Welcome {
    color: $maintxtColor;
    width: 100%;
    .content {
        margin: 0 30px;
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: 769px) {
            flex-direction: row;
        }

        .hero {
            align-self: center;
            text-align: center;

            @media screen and (min-width: 420px) {
                text-align: start;
            }

            &Txt{
                font-size: $fontSizeL;
                & span {color: $mainColor}

                @media screen and (min-width: 880px) {
                font-size: $fontSizeXL;
                }

                @media screen and (min-width: 1024px) {
                font-size: $fontSizeXXL;
                }

            }
            &Subtxt {
                line-height: 32px;
                letter-spacing: .5px;
                margin: 40px 0;
                color: $secondarytxtColor;
                font-size: $fontSizeS;

                @media screen and (min-width: 1024px) {
                    width: 65%;
                }

            }
            
            .signup {
                cursor: pointer;
                background: linear-gradient(180deg, rgba(86,154,233,1) 0%, rgba(86,154,233,0.8) 100%);
                font-size: $fontSizeS;
                border: none;
                border-radius: 6px;
                color: $maintxtColor;
                padding: 20px 100px;
                width: 100%;

                @media screen and (min-width: 454px) {
                    width: auto;
                }
            }

            .login {
                margin-top: 15px;
                margin-bottom: 30px;
                letter-spacing: .5px;
                color: $secondarytxtColor;
                & a {
                    cursor: pointer;
                    color: $mainColor;

                }
            }

        }

        .illustration {
            margin: 5% 0 10% 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            & img {
                width: 60%;
            }

            .square {
                @include floatAnimation;
            }

            .reflect {
                display: none;
                margin-top: 25px;
                @include reverseFloatAnimation;
            }

            @media screen and (min-width: 769px) {
                margin: 0;
                & img {
                    width: 90%;
                }
                .reflect {
                    display: block;
                }
            }
        }

    }
}