@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/animations.scss'; 
@import '../../styles/mixins';

.Signup {
    width: auto;
}

.signupCtn {
    width: auto;
    height: auto;
    @include flexCenter;
}

.SignupForm {  
    width: 400px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "legend legend"
        "prenom nom"
        "email email"
        "password password"
        "agreeTerms agreeTerms"
        "submit ."
    ;

    input {
        &:focus {
            transition: 200ms ease-in-out forwards;
            border: 2 px solid $secondaryColor;
        }
    }

    .legend {
        grid-area: legend;
        &::after {
            content: '';
            display: block;
            width: 400px;
            height: 1px;
            background: rgba(128, 128, 128, 0.164);
            margin-top: 30px;
        }
    }
    .prenom {grid-area: prenom;}
    .nom {grid-area: nom;}
    .email {grid-area: email;}
    .password {grid-area: password;}
    .agreeTerms {
        grid-area: agreeTerms;
        position: relative;
        & label {
            margin-left: 18px;
            font-size: $fontSizeXS;
            font-weight: 500;
            letter-spacing: 0;
        }
        & input {
            position: absolute;
            left: 0;
            top: -2px;
            width: auto;
        }
        & a {color: $mainColor;}
    }
    .submit {
        cursor: pointer;
        @include btn;
        background: $secondaryColor;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: $fontSizeXS; 
    }

}

@media screen and (min-width: 1024px) {
    .signupCtn {
        margin-left: 515px;
        height: 100%;
    }
}