@import '../../styles/mixins';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.Home {

    .setPostContainer {
        width: 95%;
        max-width: 700px;
        .message {
            display: block;
            background: white;
        }
        .submit {
            @include btn;
            width: 100px;
        }
    }

    @include flexCenter;
    flex-direction: column;
    margin-top: 50px;
    .postsContainer {
        width: 95%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
    }
}