@mixin floatAnimation {
    animation: float 1750ms ease-in-out infinite;

    @keyframes float {
        0% {

        }
        50% {
            transform: translateY(15px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@mixin reverseFloatAnimation {
    animation: reverseFloat 1750ms ease-in-out infinite;

    @keyframes reverseFloat {
        0% {

        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0px);
        }
    }
}

@mixin textDisplayAnim {

    animation: textDisplayAnim 800ms ease-in-out forwards;

    @keyframes textDisplayAnim {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@mixin textDisplayAnimDelayed {

    animation: textDisplayAnimDelayed 800ms ease-in-out forwards 300ms;

    @keyframes textDisplayAnimDelayed {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}