@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/animations.scss'; 
@import '../../styles/mixins';

.User {
    .content {
        .userHeader {
            margin: auto;
            background: white;
            width: 80%;
            margin-top: 114px;
            @include flexCenter;
            flex-direction: column;

            .profilePic {
                width: 120px;
                height: 120px;
                border-radius: 500px;
                background: grey;
                margin: 15px 0;
            }
            .name {font-size: $fontSizeL;}
            .nickname {color: $secondaryTxtColor;}
            .email {
                margin-top: 15px;
                text-decoration: none;
                color: $mainColor;
                &:hover {text-decoration: underline;}
            }
            .editProfile {
                @include btn;
                border: none;
                font-size: $fontSizeXS;
                margin: 20px 0;
            }

        }
    }
}